<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>


</head>

<style>
    body{
        font-family: 'Arial';
    }

    .container {
        padding: 5px 20px;
        margin: 10px 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .group-section {
        padding: 20px;
        border: 1px solid;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .group {
        padding: 10px 0px;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
    }


    .agent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        margin-left: 10px;
        padding-top: 10px;
    }

    .group-checkbox {
        vertical-align: middle;
        width: 18px;
    }

    .agents-checkbox {
        vertical-align: middle;
        width: 18px;
    }

    .select-file-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .select-file {
        margin-top: 20px;
        width: 100%;
        border: 1px solid;
        padding: 10px 25px;
        cursor: pointer;
        text-align: center;
        font-weight: bolder;
    }

    .select-file:hover{
        opacity: 57%;
    }

    .submit-file {
        display: flex;
        justify-self: center;
        background: #fff;
        border: 1px solid;
        cursor: pointer;
        padding: 7px 14px;
        font-weight: bold;
    }

    .submit-file:hover{
        opacity: 57%;
    }


    input[type="file"] {
        display: none;
    }
</style>

<body>
    {{log groupInfo}}
    <div class="container">
        {{#each groupInfo}}
        <div class="group-section">
            <div class="group">
                <label>{{groupName}}</label>
                <input type="checkbox" class="group-checkbox" group_id="{{groupId}}" onchange="check('{{groupId}}')">
            </div>

            {{#each agents}}
            <div class="agent">
                <label>{{name}}</label>
                <input type="checkbox" class="agents-checkbox" group_id="{{../groupId}}" agent_id="{{_id}}">

            </div>

            {{/each}}
        </div>
        {{/each}}

    <div class="select-file-container">
        <label class="select-file" style="display: none;">
            <input class="fs" type="file" onchange="checkFile()">
            Select File
        </label>
    </div>
        <input class="submit-file" style="display: none;" type="submit" value="Submit">
    </div>



</body>

</html>

<script>

    const filesel = document.getElementsByClassName('select-file')[0];
    const filesend = document.querySelector('input[type=submit]');


    function check(groupId) {
        const group = document.querySelector(`[group_id="${groupId}"].group-checkbox`);
        const agents = document.querySelectorAll(`[group_id="${groupId}"].agents-checkbox`);

        agents.forEach((agentes) => {
            agentes.checked = group.checked;
        });



        if (group.checked) {
            filesel.style.display = "block";

        } else {
            filesel.style.display = "none";
            filesend.style.display = "none";

        }

    }

    function checkFile() {
        const fs = document.getElementsByClassName("fs")[0];


        console.log(filesend)

        if (fs.value) {
            filesend.style.display = "block";
        } else {
            filesend.style.display = "none";

        }
    }

</script>